[submodule "persona_vectors"]
	path = persona_vectors
	url = https://github.com/safety-research/persona_vectors
[submodule "sycophancy_eval"]
	path = sycophancy_eval
	url = https://github.com/chry-santhemum/sycophancy-eval
[submodule "open-instruct"]
	path = open-instruct
	url = https://github.com/chry-santhemum/open-instruct
